<div>
    <header>
        <ul>
            <a routerLink="/">Showcase</a> |
            <a routerLink="create">Create book</a> |
            <div *ngIf="(user$ | async)?.email" style="display: inline;">
                <a routerLink="user">Account Page</a> |
            </div>
            <a routerLink="cart">Cart</a>
            <div *ngIf="!(user$ | async)?.email; else signin">
                <a routerLink="signup">Sign-up/Sign-in</a>
            </div>
            <ng-template #signin>
                <p>Signed-in as {{(user$ | async)?.email}}</p>
                <button (click)="logout()">Logout</button>
            </ng-template>
        </ul>
    </header>
</div>
<router-outlet>
</router-outlet>