<form [formGroup]="editBookForm" (ngSubmit)="onSubmit()">
    <label formGroupName="authors">
        <label>
            First Name:
            <input type="text" formControlName="firstName">
        </label>

        <label>
            Last Name:
            <input type="text" formControlName="lastName">
        </label>
    </label>

    <label>
        Image URL:
        <input type="text" formControlName="imageUrl">
    </label>

    <label>
        Pages:
        <input type="text" formControlName="pageCount">
    </label>

    <label>
        Title:
        <input type="text" formControlName="title">
    </label>

    <label>
        Year:
        <input type="text" formControlName="year">
    </label>



    <button type="submit" [disabled]="!editBookForm.valid">Submit</button>
</form>


<pre>{{editBookForm.value | json}}</pre>
<pre>{{editBookForm.valid | json}}</pre>